@import "main";

#wp-admin-toolbar {
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0 0.5rem 0.5rem 0;
  box-shadow: 0 0.25rem 1rem 0 rgb(black, 0.1);
  color: var(--color-white);
  display: grid;
  left: 0;
  padding: 0.5rem;
  position: fixed;
  top: 50%;
  transition: all 300ms ease-out;
  z-index: 999;

  &:not(:has(input:checked)) {
    transform: translate(-100%);

    #wp-admin-toolbar-toggle {
      transform: translate(1.5rem, -3rem);

      &::before {
        transform: rotate(180deg);
      }
    }
  }

  #wp-admin-toolbar-toggle {
    align-items: center;
    background: #f300c2;
    border: 3px solid white;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 0 0.25rem 1rem 0 rgb(black, 0.25);
    color: white;
    cursor: pointer;
    display: grid;
    font-size: 0.75rem;
    height: 2rem;
    left: 0;
    padding-right: 0.5rem;
    position: absolute;
    text-align: right;
    text-decoration: none;
    top: 0;
    transform: translate(-1.5rem, -3rem);
    transition: all 100ms ease-out;
    width: 3.5rem;

    &:not(:has(:checked)) {
      height: 4rem;
      transform: translate(2.5rem, -3rem);
    }

    &:hover {
      background: #af078d;
      transform: translate(-1.25rem, -3rem);
    }

    #toolbar-visible {
      opacity: 0;
      position: absolute;
    }

    &::before {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAxNCAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjIwNjYgMS41Mzk1NUwyLjM1NTQ3IDExLjM5MDZMMTIuMjA2NiAyMS4yNDE3IiBzdHJva2U9IiNFRUVFRUUiIHN0cm9rZS13aWR0aD0iMyIvPgo8L3N2Zz4K");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 1rem;
      position: absolute;
      right: 0.125rem;
      width: 1rem;
    }
  }

  .wp-admin-toolbar-item {
    align-items: center;
    border-radius: 2.5rem;
    color: white;
    cursor: pointer;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    position: relative;
    text-decoration: none;
    width: 2.5rem;

    &:hover {
      background-color: rgb(black, 0.1);

      .wp-admin-toolbar-popover {
        opacity: 1;
        transform: translate(1rem, -50%);
      }
    }
  }

  .wp-admin-toolbar-popover {
    background-color: black;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1rem 0 rgb(black, 0.1);
    left: 100%;
    opacity: 0;
    padding: 0.5rem 0.75rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(0.5rem, -50%);
    transition: all 100ms ease-in-out;
    white-space: nowrap;
  }
}

.skip-to-content-link {
  background-color: var(--color-black);
  color: var(--color-white);
  left: 50%;
  padding: 1rem;
  position: fixed;
  transform: translate(-50%, -100%);
  transition: all 300ms ease-out;
  z-index: 200;

  &:focus {
    transform: translate(-50%, 0);
  }
}

:root {
  margin-top: 0 !important;
}

#wpadminbar {
  display: none;
}

.postbox.carbon-box {
  overflow: visible !important;
}
